.container-app {
  margin-top: 80px;
}

.main-title {
  text-align: center;
}

.component-container {
  box-sizing: border-box;
  margin: 2rem auto;
}
.component-title {
  margin: 2rem auto;
  color: #222;
}

.form {
  box-sizing: border-box;
  padding: 2rem;
  box-shadow: 1px 1px 5px #ccc;
  border-radius: 5px;
}

.modal-container {
  height: 0;
  transform: scale(0);
  transition: transform 0.5s ease-in-out;
}
.modal-container.modal-active {
  height: auto;
  transform: scale(1);
}
